-if @posts.length>0
  .jumbotron
    %h2= link_to @posts[0].title, @posts[0]
    %i= @posts[0].created_at
    , Category:
    =@posts[0].category.name
    .post-content= @posts[0].content
  - @posts.drop(1).each_slice(3) do |row|
    .row
      -row.each do |post|
        .col-xs-4
          =render post

